<header class="">
  <div class="">
    <%= link_to "NNN", root_path, id: "logo" %>
    <nav>
      <ul class="">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Exp", experiments_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>